@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.wrapper {
  padding: 0 25px; }

.gray-block {
  background: #ECECEC; }

.p-10 {
  padding: 10px 0px; }

body {
  font-family: 'Raleway', sans-serif; }
  body .main-page-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 450px;
    margin: 0 auto;
    background: url("../img/main-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    body .main-page-container .survey-wrapper {
      padding: 40px 30px 0px 30px;
      position: relative;
      height: 100%; }
      body .main-page-container .survey-wrapper .logo-box {
        width: 162px; }
      body .main-page-container .survey-wrapper .top-title {
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        margin-top: 80px; }
      body .main-page-container .survey-wrapper .bottom-txt {
        position: absolute;
        font-style: normal;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #fff;
        left: 0;
        right: 0;
        top: calc(70% - 48px);
        padding: 0px 30px; }
      body .main-page-container .survey-wrapper .start-btn {
        position: absolute;
        text-decoration: none;
        color: #fff;
        text-align: center;
        display: block;
        width: 170px;
        height: 47px;
        border: 1px solid #fff;
        line-height: 45px;
        left: 0;
        right: 0;
        bottom: 100px;
        margin: 0 auto; }
  body .survey-container {
    max-width: 450px;
    margin: 0 auto;
    padding-bottom: 30px; }
    body .survey-container .wrapper .logo-box {
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #C4C4C4; }
    body .survey-container .wrapper .main-question-box {
      margin-top: 20px; }
      body .survey-container .wrapper .main-question-box .q-text {
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        color: #000000;
        line-height: 17px; }
      body .survey-container .wrapper .main-question-box .range10 {
        display: flex;
        justify-content: space-between;
        margin-top: 40px; }
        body .survey-container .wrapper .main-question-box .range10 input[type='radio']:checked + label .range-number {
          color: #fff; }
        body .survey-container .wrapper .main-question-box .range10 input[type='radio']:checked + label .color1 {
          background-color: #9F0002; }
        body .survey-container .wrapper .main-question-box .range10 input[type='radio']:checked + label .color2 {
          background-color: #9E2106; }
        body .survey-container .wrapper .main-question-box .range10 input[type='radio']:checked + label .color3 {
          background-color: #AB290C; }
        body .survey-container .wrapper .main-question-box .range10 input[type='radio']:checked + label .color4 {
          background-color: #C13010; }
        body .survey-container .wrapper .main-question-box .range10 input[type='radio']:checked + label .color5 {
          background-color: #D04205; }
        body .survey-container .wrapper .main-question-box .range10 input[type='radio']:checked + label .color6 {
          background-color: #DA5B13; }
        body .survey-container .wrapper .main-question-box .range10 input[type='radio']:checked + label .color7 {
          background-color: #EF6A1F; }
        body .survey-container .wrapper .main-question-box .range10 input[type='radio']:checked + label .color8 {
          background-color: #F39A13; }
        body .survey-container .wrapper .main-question-box .range10 input[type='radio']:checked + label .color9 {
          background-color: #FFBF00; }
        body .survey-container .wrapper .main-question-box .range10 input[type='radio']:checked + label .color10 {
          background-color: #4AAE27; }
        body .survey-container .wrapper .main-question-box .range10 input[type='radio']:checked + label .color11 {
          background-color: #008A00; }
        body .survey-container .wrapper .main-question-box .range10 input[type='radio'] {
          opacity: 0;
          display: none; }
        body .survey-container .wrapper .main-question-box .range10 label {
          cursor: pointer; }
          body .survey-container .wrapper .main-question-box .range10 label .range-number {
            width: 26px;
            height: 26px;
            line-height: 20px;
            margin-right: 0px;
            text-align: center;
            border-radius: 50%;
            transition: 0.5s;
            font-size: 16px;
            color: #333;
            font-weight: 500; }
          body .survey-container .wrapper .main-question-box .range10 label .color1 {
            border: 1.5px solid #9F0002; }
          body .survey-container .wrapper .main-question-box .range10 label .color2 {
            border: 1.5px solid #9E2106; }
          body .survey-container .wrapper .main-question-box .range10 label .color3 {
            border: 1.5px solid #AB290C; }
          body .survey-container .wrapper .main-question-box .range10 label .color4 {
            border: 1.5px solid #C13010; }
          body .survey-container .wrapper .main-question-box .range10 label .color5 {
            border: 1.5px solid #D04205; }
          body .survey-container .wrapper .main-question-box .range10 label .color6 {
            border: 1.5px solid #DA5B13; }
          body .survey-container .wrapper .main-question-box .range10 label .color7 {
            border: 1.5px solid #EF6A1F;
            line-height: 23px; }
          body .survey-container .wrapper .main-question-box .range10 label .color8 {
            border: 1.5px solid #F39A13; }
          body .survey-container .wrapper .main-question-box .range10 label .color9 {
            border: 1.5px solid #FFBF00;
            line-height: 23px; }
          body .survey-container .wrapper .main-question-box .range10 label .color10 {
            border: 1.5px solid #4AAE27; }
          body .survey-container .wrapper .main-question-box .range10 label .color11 {
            border: 1.5px solid #008A00; }
    body .survey-container .hidden-questions {
      margin-top: 25px;
      display: none; }
      body .survey-container .hidden-questions .thx-text-wrapper {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        padding-top: 10px;
        padding-bottom: 10px; }
        body .survey-container .hidden-questions .thx-text-wrapper .dark-txt {
          color: #666666;
          font-weight: 600;
          font-size: 13px;
          line-height: 16px;
          text-transform: uppercase; }
        body .survey-container .hidden-questions .thx-text-wrapper .light-txt {
          font-weight: 400;
          font-size: 13px;
          font-style: italic;
          line-height: 13px;
          margin-top: 10px;
          color: #666666; }
      body .survey-container .hidden-questions .question-wrapper {
        margin-top: 20px; }
        body .survey-container .hidden-questions .question-wrapper .q-text {
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
          color: #000;
          padding: 0 25px; }
        body .survey-container .hidden-questions .question-wrapper .smaller-font {
          font-weight: 500;
          font-size: 12px; }
        body .survey-container .hidden-questions .question-wrapper .flex-container {
          display: flex;
          justify-content: space-between;
          max-width: 700px;
          padding: 10px 25px 10px 25px; }
          body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .radio_container {
            display: block;
            position: relative;
            padding-left: 20px;
            margin-bottom: 12px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            box-sizing: unset; }
            body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .radio_container .radio__option {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0; }
            body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .radio_container .answer {
              font-size: 12px;
              padding-left: 5px;
              color: #666666;
              display: inline-block; }
            body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .radio_container .answer-font {
              font-size: 12px;
              color: #333333; }
            body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .radio_container .checkmark {
              position: absolute;
              top: 1px;
              left: 0px;
              width: 16px;
              height: 16px;
              max-width: 16px;
              min-width: 16px;
              background-color: transparent;
              border: 1px solid #666666;
              border-radius: 50%;
              box-sizing: unset; }
            body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .radio_container .checkmark-size {
              top: 3px;
              width: 14px;
              height: 14px;
              max-width: 14px;
              min-width: 14px; }
            body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .radio_container input:checked ~ .checkmark:before {
              content: '';
              width: 10px;
              height: 10px;
              max-width: 10px;
              min-width: 10px;
              position: absolute;
              background: #9F0002;
              left: calc( 50% - 5px);
              top: calc( 50% - 5px);
              border-radius: 50%; }
            body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .radio_container input:checked ~ .checkmark-size:before {
              content: '';
              width: 8px;
              height: 8px;
              max-width: 8px;
              min-width: 8px;
              left: calc( 50% - 4px);
              top: calc( 50% - 4px); }
            body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .radio_container input:checked ~ .checkmark {
              animation: pulse 0.5s; }
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(244, 2, 0, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }
@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(244, 2, 0, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4); }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }
            body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .radio_container .answer-with-comment-wrap {
              display: flex;
              position: relative; }
              body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .radio_container .answer-with-comment-wrap .comment-to-other {
                width: 250px;
                margin-left: 20px;
                position: absolute;
                top: -2px;
                left: 43px; }
                body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .radio_container .answer-with-comment-wrap .comment-to-other #short-comment {
                  outline: none;
                  border: none;
                  border-bottom: 1px solid #9ea1a4;
                  font-size: 14px;
                  color: #000;
                  width: 100%;
                  background-color: transparent;
                  border-radius: 0;
                  -webkit-appearance: none; }
          body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .sub-answer-wrapper {
            padding-left: 22px;
            display: none; }
            body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .sub-answer-wrapper .sab-radio_container {
              display: block;
              position: relative;
              padding-left: 20px;
              margin-bottom: 12px;
              cursor: pointer;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              box-sizing: unset; }
              body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .sub-answer-wrapper .sab-radio_container .radio__option {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0; }
              body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .sub-answer-wrapper .sab-radio_container .answer {
                font-size: 11px;
                padding-left: 5px;
                color: #666666;
                display: inline-block; }
              body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .sub-answer-wrapper .sab-radio_container .checkmark {
                position: absolute;
                top: 6px;
                left: 4px;
                width: 11px;
                height: 11px;
                max-width: 11px;
                min-width: 11px;
                background-color: transparent;
                border: 1px solid #666666;
                border-radius: 50%;
                box-sizing: border-box; }
              body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .sub-answer-wrapper .sab-radio_container input:checked ~ .checkmark:before {
                content: '';
                width: 11px;
                height: 11px;
                max-width: 11px;
                min-width: 11px;
                position: absolute;
                background: #9F0002;
                border: 1px solid #9F0002;
                left: -2px;
                top: -2px;
                border-radius: 50%;
                box-sizing: unset; }
              body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .sub-answer-wrapper .sab-radio_container input:checked ~ .checkmark {
                animation: pulse 0.5s; }
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(244, 2, 0, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }
@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(244, 2, 0, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4); }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0); } }
              body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .sub-answer-wrapper .sab-radio_container .answer-with-comment-wrap {
                display: flex;
                position: relative; }
                body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .sub-answer-wrapper .sab-radio_container .answer-with-comment-wrap .comment-to-other {
                  width: 250px;
                  margin-left: 20px;
                  position: absolute;
                  top: -2px;
                  left: 43px; }
                  body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .sub-answer-wrapper .sab-radio_container .answer-with-comment-wrap .comment-to-other #short-comment {
                    outline: none;
                    border: none;
                    border-bottom: 1px solid #9ea1a4;
                    font-size: 14px;
                    color: #000;
                    width: 100%;
                    background-color: transparent;
                    border-radius: 0;
                    -webkit-appearance: none; }
            body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .sub-answer-wrapper .error {
              font-weight: 600;
              font-size: 12px;
              color: #E1032E;
              margin-top: 10px;
              display: none; }
        body .survey-container .hidden-questions .question-wrapper .comment-title {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
          color: #000000;
          margin-bottom: 35px;
          margin-top: 20px;
          padding: 0 25px; }
      body .survey-container .hidden-questions .comment-box {
        padding: 45px 25px 20px 25px; }
        body .survey-container .hidden-questions .comment-box .comment-label-wrapper {
          position: relative; }
          body .survey-container .hidden-questions .comment-box .comment-label-wrapper .label-txt {
            position: absolute;
            left: 0;
            top: 0;
            color: #A09B9B;
            font-size: 14px;
            transition: all ease 0.5s;
            z-index: 1; }
          body .survey-container .hidden-questions .comment-box .comment-label-wrapper .comment-icon {
            position: absolute;
            width: 24px;
            height: 24px;
            background-image: url("../img/commnt-icon.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            right: 0px;
            top: -5px;
            transition: all ease 0.5s;
            z-index: 1; }
          body .survey-container .hidden-questions .comment-box .comment-label-wrapper .comment-field {
            resize: none;
            border: none;
            outline: none;
            border-bottom: 1px solid #A09B9B;
            background: transparent;
            width: 100%;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            position: relative;
            border-radius: 0;
            z-index: 2; }
          body .survey-container .hidden-questions .comment-box .comment-label-wrapper .comment-field::placeholder {
            padding-left: 65px;
            color: #000;
            font-weight: 500;
            font-size: 15px;
            line-height: 16px;
            font-style: italic; }
        body .survey-container .hidden-questions .comment-box .main-comment-error {
          font-weight: 600;
          font-size: 12px;
          color: #E1032E;
          margin-top: 10px;
          padding-bottom: 20px;
          display: none; }
        body .survey-container .hidden-questions .comment-box .req-field-error {
          font-weight: 600;
          font-size: 12px;
          color: #E1032E;
          margin-top: 10px;
          padding-bottom: 20px;
          display: none; }
    body .survey-container .submit-wrapper {
      margin-top: 45px;
      display: none; }
      body .survey-container .submit-wrapper .save-btn {
        display: block;
        width: 170px;
        height: 47px;
        margin: 0 auto;
        outline: none;
        border: 1px solid #333333;
        color: #333333;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        background: transparent;
        cursor: pointer; }
    body .survey-container #contacts-form {
      position: relative; }
      body .survey-container #contacts-form .contacts-gray-block {
        margin-top: 50px; }
        body .survey-container #contacts-form .contacts-gray-block .wrapper {
          padding: 20px 25px; }
          body .survey-container #contacts-form .contacts-gray-block .wrapper .line {
            border-top: 1px solid #A09B9B; }
          body .survey-container #contacts-form .contacts-gray-block .wrapper .contact-box {
            margin-top: 40px;
            position: relative; }
            body .survey-container #contacts-form .contacts-gray-block .wrapper .contact-box .contact-label {
              font-size: 14px;
              color: #A09B9B;
              font-style: normal;
              font-weight: normal;
              position: relative;
              padding-left: 70px;
              margin-bottom: 20px; }
            body .survey-container #contacts-form .contacts-gray-block .wrapper .contact-box .contact-label:before {
              content: '';
              position: absolute;
              left: 20px;
              top: -4px;
              width: 23px;
              height: 23px;
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat; }
            body .survey-container #contacts-form .contacts-gray-block .wrapper .contact-box .name-label:before {
              background: url("../img/name.svg"); }
            body .survey-container #contacts-form .contacts-gray-block .wrapper .contact-box .phone-label:before {
              background: url("../img/phone.svg"); }
            body .survey-container #contacts-form .contacts-gray-block .wrapper .contact-box .email-label:before {
              background: url("../img/email.svg"); }
            body .survey-container #contacts-form .contacts-gray-block .wrapper .contact-box .data-field {
              border: none;
              outline: none;
              border-radius: 0;
              background: transparent;
              -webkit-border-radius: 0px;
              -webkit-appearance: none;
              border-bottom: 1px solid #A09B9B;
              width: 100%;
              padding: 10px 5px;
              font-size: 14px;
              color: #000; }
            body .survey-container #contacts-form .contacts-gray-block .wrapper .contact-box #phone {
              padding-left: 15px; }
            body .survey-container #contacts-form .contacts-gray-block .wrapper .contact-box .phone-prefix {
              position: absolute;
              left: 0;
              padding: 10px 5px;
              font-size: 14px;
              color: #000;
              display: none; }
            body .survey-container #contacts-form .contacts-gray-block .wrapper .contact-box .data-error {
              font-weight: 600;
              font-size: 12px;
              color: #E1032E;
              margin-top: 10px;
              display: none; }
      body .survey-container #contacts-form .contacts-submit-wrapper {
        margin-top: 150px; }
        body .survey-container #contacts-form .contacts-submit-wrapper .save-btn {
          display: block;
          width: 170px;
          height: 47px;
          margin: 0 auto;
          outline: none;
          border: 1px solid #333333;
          color: #333333;
          font-size: 16px;
          line-height: 28px;
          text-align: center;
          background: transparent; }
    body .survey-container .hidden-questions .question-main-container .comment-main-container {
      display: none; }
  body .contacts-page-container {
    max-width: 450px;
    margin: 0 auto; }
  body .end-page-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    max-width: 450px;
    margin: 0 auto;
    background: url(../img/end-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    body .end-page-container .logo-box {
      padding: 40px 30px 0px 30px; }
      body .end-page-container .logo-box img {
        width: 162px; }
    body .end-page-container .thx-block {
      margin-top: 50%;
      background: rgba(223, 217, 205, 0.31);
      backdrop-filter: blur(7px);
      padding: 40px 20px; }
      body .end-page-container .thx-block .thx-txt {
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff; }
  body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .error {
    font-weight: 600;
    font-size: 12px;
    color: #E1032E;
    margin-top: 10px;
    padding-left: 25px;
    display: none; }
  body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .answer-array .padding-wrapp {
    padding: 0 25px; }
  body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .answer-array .sub-answer-comment-container {
    margin: 10px 0px 25px 0px;
    display: none;
    padding: 0; }
    body .survey-container .hidden-questions .question-wrapper .flex-container .answers-wrapper .answer-array .sub-answer-comment-container .comment-box .sub-comment-error {
      font-weight: 600;
      font-size: 12px;
      color: #E1032E;
      margin-top: 10px;
      padding-bottom: 20px;
      display: none; }

@media (max-height: 772px) {
  body .survey-container #contacts-form .contacts-submit-wrapper {
    margin-top: 100px; } }
@media (max-height: 729px) {
  body .survey-container #contacts-form .contacts-submit-wrapper {
    margin-top: 40px; } }
@media (max-height: 680px) {
  body .main-page-container .survey-wrapper .top-title {
    margin-top: 43px; }
  body .main-page-container .survey-wrapper .start-btn {
    bottom: 35px; }
  body .main-page-container .survey-wrapper .bottom-txt {
    top: calc(73% - 48px); } }
@media (max-width: 365px) {
  body .main-page-container .survey-wrapper .top-title {
    font-size: 16px; }
  body .main-page-container .survey-wrapper .bottom-txt {
    font-size: 14px; } }
@media (max-width: 356px) {
  body .survey-container .wrapper {
    padding: 0 10px; } }
@media (min-width: 430px) {
  body .survey-container {
    -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); } }

/*# sourceMappingURL=style.css.map */
